<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Ensure trailing slash" enabled="false" stopProcessing="true">
                    <match url="/education/focuson/census-investigation/" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/nationalarchives/education/focuson/census-investigation/" />
                </rule>
                <rule name="ReverseProxyInboundRule2" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{URL}" pattern="/census-investigation/" />
                    </conditions>
                    <action type="Rewrite" url="http://appslb.nationalarchives.gov.uk/education/focuson/census-investigation/{R:1}" />
                </rule>
            </rules>
            <outboundRules>
                <remove name="Mask appslb" />
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://appslb.nationalarchives.gov.uk/education/focuson/census-investigation/(.*)" />
                    <action type="Rewrite" value="http{R:1}://www.nationalarchives.gov.uk/{R:2}" />
                </rule>
                <rule name="Mask appslb" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Form, Img, Link, Script, CustomTags" customTags="Wordpress Back-End Tag Substitutions" pattern="^http(s)?://appslb.nationalarchives.gov.uk/(.*)" />
                    <conditions />
                    <action type="Rewrite" value="http{R:1}://www.nationalarchives.gov.uk/{R:2}" />
                </rule>
            </outboundRules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="investgation.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
